/* 
body {
    

} */


.mainContainer {

    position: absolute;
    background-image: url(./imgs/background.jpeg) !important;
    background-size: 100% !important;
    width: 100% !important;
    height: 100% !important;
    overflow-x:scroll !important;
    overflow-y:scroll !important;
    overflow: scroll !important;
    background-repeat: no-repeat;
}

.container1 {

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 6px;
    margin-top: 100px;
    height: 500px;
    width: 850px;
    height: 409px;
    width: 630px;

}


.title {
    position:relative;
    margin-top: 20px;
    margin-left: auto;
    text-align: center;
    font-size: 30px;
    font-family: EmiratesSBVN-Bold  ;
    color: #333333;
}


.body-copy {
    position:relative;
    top: 10%;
    margin-left: auto;
    text-align: center;
    font-size: 14px;
    font-family: HelveticaNeue-Light; 
    color: #333333;
    margin-top: 25px;
    width: 500px;
    margin-right: auto;
}



.icon {
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
    position: relative;
    height: 60px;
    width: 60px;
    background-color: black;
    background: url("imgs/gift.png");
    background-repeat: no-repeat;
    background-size: 60px;
}

.animationContainer {
    width: 629px;
    height: 430px;
    overflow: hidden;
}

#confeti {
    /* margin-top: 0x; */
    height: 1200px !important;
    width: 2000px !important;
    opacity: 1;
    animation: fadeOut 3.5s linear;
    
   
}

.animation{
    animation: fadeIn 0.7s linear;
   
}    

   .content {
    position: absolute;
    margin-top: 30px;
    margin-left: 53px;
    margin-right: auto;
   } 


.primary{
    color: white;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color:#C60D30;
    border-radius: 6px;
    font-family: HelveticaNeue-Light; 
    font-weight: bold;
    margin-top: 39px;
    padding: 20px 50px 20px 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  
    
   
}


.secondary{
    /* color: white; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* background-color:#C60D30; */
    border-radius: 6px;
    font-size: 16px;
    font-family: HelveticaNeue-Light; 
    font-weight: bold;
    margin-top: 39px;
    padding: 17.5px 70px 17.5px 70px;
    margin-left: 13px;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    border-radius: 3px 3px 3px 0 3px;
    border: .1rem solid #333;
    background: #fff;
    color: #333;
    
}


.modal-content1 {

    height: 430px !important;
    
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 6px !important;


}

.modal-sm {
    max-width: 629px !important;
}

  
.btn-primary {
    float: right !important; 
    z-index: 1 !important;
}



@media only screen and (max-width: 600px) {
      
    .content {
        margin-left: 20px;
        margin-right: 20px;
        /* width: 317px;
        
        margin-left:auto; */
    }

    .body-copy {
        width: 250px;
    }

    .primary {

        width: 316px;
        margin-top: 30px;
    }
.secondary {
    margin-left: 0;
    width: 318px;
    margin-top: 20px;
}

    .modal-content1 {
        height: 579px !important;
    
    }
    
    #confeti {

        height: 450px !important;
        width: 350px !important;

    }

    .animationContainer {
        width: 355px;
        height: 700px;
        overflow: hidden;

}
}


  @keyframes fadeOut {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  

  @font-face{font-family:EmiratesSBVN-Bold;font-style:normal;font-display:swap;src:url(https://c.ekstatic.net/shared/fonts/vi-ek/emirates-bold.eot);src:url(https://c.ekstatic.net/shared/fonts/vi-ek/emirates-bold.eot#iefix) format("embedded-opentype"),url(https://c.ekstatic.net/shared/fonts/vi-ek/emirates-bold.woff2) format("woff2"),url(https://c.ekstatic.net/shared/fonts/vi-ek/emirates-bold.woff) format("woff"),url(https://c.ekstatic.net/shared/fonts/vi-ek/emirates-bold.ttf) format("truetype")}